:root {
  --main-bg-color: #fff4e8;
  --main-dark-color: #372005;
  --main-yellow-color: #f1b64d;
  --btn-grad-start: #ffe8bd;
  --btn-grad-end: #fbcd79;
  --paragraph-text: #694d2c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section.top {
  background: url("./chai_bg.png") no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
}

header {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  cursor: pointer;
  padding: 0 20px;
}

header .user-profile {
  display: flex;
  align-items: center;
}

header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.user-profile span {
  margin-left: 10px;
}

.logo {
  color: var(--main-dark-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.logo span {
  color: var(--main-yellow-color);
}

.about {
  max-width: 400px;
}

.about header h1 {
  color: var(--main-dark-color);
  font-weight: 800;
  font-size: 100px;
}

.about header span {
  color: var(--main-yellow-color);
}

.about p {
  margin: 1rem 0 3rem;
  color: var(--paragraph-text);
  line-height: 1.5;
}

.about button {
  background: linear-gradient(var(--btn-grad-start), var(--btn-grad-end));
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

main {
  margin: 150px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moods li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: var(--paragraph-text);
}

.moods li span {
  position: relative;
  font-size: 2rem;
}

.moods li span::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-8deg);
  border-radius: 1rem;
  background-color: #fff;
  z-index: -1;
}

.moods li p {
  margin-left: 2rem;
  max-width: 180px;
}
